@import "~antd/dist/antd.css";

.content-background {
  background-image: url("./backgrounds/Drone.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.title-text {
  font-size: xx-large;
  color: white;
  line-height: 600px;
}

.company-name {
  font-size: x-large;
  color: white;
}
