.order-background {
  background-image: url("../backgrounds/OrderBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh);
}

.steps {
  position: relative;
  height: calc(30vh);
  left: calc(5vh);
  top: 10vh;
}
